body {
    margin : 50px;
}

.container1 {
    width: 200px;
    height: 70px;

    display: flex;
    justify-content: space-around;

}
.container2 {
    width: 200px;
    height: 70px;

    display: flex;
    justify-content: space-around;
    
}
.container3 {
    width: 200px;
    height: 70px;

    display: flex;
    justify-content: space-around;
    
}

.item {
    width: 60px;
    height: 60px;

    background-color: coral;
    border-radius: 10px;

}